@media (max-width: 1540px) {
    .nav-menu {
        display: none;
    }
    .nav__btn {
        display: none;
    }
}
@media (max-width: 1400px) {

}
@media (max-width: 1200px) {
    .features__content {
        margin-left: 10rem;
    }
    .features__logo::before {
        width: 125%;
    }

}
@media (max-width: 992px) {
    .home__logo::before {
        display: none;
    }
    .home__logo {
        padding-right: 1.5rem;
    }
    .home__logo-svg {
        width: 100%;
        height: auto;
    }
    .align__item{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
    }
    .features {
        margin-top: 10rem;
    }
    .features__logo::before {
        display: none;
    }
    .features__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features .row {
        display: flex;
        flex-direction: column;
    }
    .features__content {
        text-align: center;
        margin: 0 auto;
    }
    .features_link {
        margin: 0 auto;
        margin-top: 3rem;
    }
}
@media (max-width: 768px) {
    .nav__wrapper {
        display: none;
    }
    .nav__btn {
        display: flex;
    }
    .nav {
        margin-top: 4rem;
    }
    .nav-menu--open {
        display: block;
    }
    .cover--show {
        background-color: hsl(231, 69%, 60%);
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 100ms ease-in;
    }
    .app-logo__svg--show path {
        fill: oklch(37.9% 0.146 265.522);
    }
    .app-logo__svg--show circle {
        fill: hsl(0, 0%, 97%);
    }
    .nav-logo__title.nav-logo__title--show {
        fill: hsl(0, 0%, 97%);
    }
    .features__items {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .features__link {
        margin: 0 auto;
    }
    .features__line {
        display: none;
    }
    .features__link--active {
        width: auto;
        letter-spacing: .5rem;
    }
    .features__img {
        width: 100%;
    }
    .footer__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
    }
}
@media (max-width: 576px) {
    .home__title {
        font-size: 2.5rem;
    } 
    .head__wrapper {
        padding: 0 1rem;
    }
    .extension__content {
        margin-top: 5rem;
    }
    .extension__download:first-child {
        margin-bottom: -3.5rem;
    }
    .extension__download:last-child {
        margin-top: 2rem ;
    }
    .asked__title {
        padding-left: 1rem;
    }
    .asked__discription {
        padding: 0 1rem;
    }
    .form-row {
        display: flex;
        flex-direction: column;
    }
    .footer__items {
        display: block;
        margin: 0 auto;
    }
    .footer__item {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .footer__item:first-child {
        margin-top: 0;
    }
    .footer__content {
        display: block;
    }
    .footer__wrapper {
        display: block;
        text-align: center;
    }
    .footer-logos {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        gap: 2rem;
        margin-top: 3rem;
    }
    .footer__svg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2.5rem;
        margin-top: 2rem;
    }
}
@media (max-width: 357px) {
    .home__link {
        width: 100%;
        margin-top: 1rem;
    }
}